#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.card {
  border: 2px solid white;
  border-radius: 1rem;
  width: fit-content;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  color: whitesmoke;
  font-style: italic;
}
.price {
  background: tomato;
  padding: 0rem 1rem;
  color: white;
  width: fit-content;
  text-align: center;
}
.image {
  width: 350px;
  height: 200px;
  object-fit: contain;
}
.button {
  background-color: rgb(75, 82, 228);
  color: white;
  padding: 0.2rem 1rem;
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.topic-title {
  background: lightgreen;
  padding: 0rem 1rem;
  color: black;
  width: fit-content;
  text-align: center;
}
